<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
